{% extends 'generic/views/create_update/create_update_view.html' %}
{% block form_field %}
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="id_name" required maxlength="255" placeholder="255 charts max" value="{{ instance_object.name }}" />
            <div class="invalid-feedback">Name is required.</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_description">Description</label>
          <div class="col-sm-10">
            <input type="text" name="description" class="form-control" id="id_description" maxlength="255" required placeholder="" value="{{ instance_object.description }}" />
            <div class="invalid-feedback">Indicated a description.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Optional informations</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_status">Status</label>
          <div class="col-sm-10">
            <select class="form-select" id="id_status" name="status">
              {% for option in form.status %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a status</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_category">Category</label>
          <div class="col-sm-10">
            <select class="form-select" id="id_category" name="category">
              {% for option in form.category %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a category</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_provider">Provider</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_provider" name="provider">
              {% for option in form.provider %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a provider</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_model_name">Model Name</label>
          <div class="col-sm-10">
            <input type="text" name="model_name" class="form-control" id="id_model_name" maxlength="255" placeholder="" value="{{ instance_object.model_name }}" />
            <div class="invalid-feedback">Indicated a model name</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_model_number">Model Number</label>
          <div class="col-sm-10">
            <input type="text" name="model_number" class="form-control" id="id_model_number" maxlength="255" placeholder="" value="{{ instance_object.model_number }}" />
            <div class="invalid-feedback">Indicated a model number</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_support_url">Support URL</label>
          <div class="col-sm-10">
            {% if instance_object.support_url == blank %}
              <input type="url" name="support_url" class="form-control" id="id_support_url" maxlength="255" placeholder="" value="" />
            {% else %}
              <input type="url" name="support_url" class="form-control" id="id_support_url" maxlength="255" placeholder="" value="{{ instance_object.support_url }}" />
            {% endif %}
            <div class="invalid-feedback">Indicated a support URL</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_icon">Upload Icon<br />(200x200 px)</label>
          <div class="col-sm-10">
            <input type="file" name="icon" class="form-control" id="id_icon" accept="image/png, image/jpeg, image/svg" />

            <div class="invalid-feedback">Add an icon</div>
          </div>
        </div>

        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
      </div>
    </div>
  </div>
{% endblock %}
