{% extends 'generic/views/list_view/list_view.html' %}
{% block table_header %}
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Status</th>
    <th scope="col">Provider</th>
  </tr>
{% endblock %}
{% block table_body %}
  {% for object in instance_object %}
    <tr>
      {% include 'generic/elements/td_action_button.html' %}
      <td>{{ object.name }}</td>
      <td>{{ object.category }}</td>
      <td>{{ object.status }}</td>
      <td>{{ object.provider }}</td>
    </tr>
  {% endfor %}
{% endblock %}
