{% load static %}
{% load service_custom_tags %}
{% get_total_services as total_services %}
{% get_service_from_owner user as total_services_from_owner %}

<div class="mb-4 order-0">
    <div class="card">
    <div class="d-flex align-items-end row">
        <div class="col-sm-7">
        <div class="card-body">
            <h5 class="card-title text-primary">Hello {{ user.get_short_name }}</h5>
            <p class="mb-4">
            You currently own <span class="fw-bold">{{ total_services_from_owner }}</span> services {% include 'index/elements/select_emoji_for_card_01.html' with count=total_services_from_owner %}.
            </p>

            <a href="{% url 'service_creation' %}" class="btn btn-sm btn-outline-primary">Register service</a>
            <a href="{% url 'service_list' %}" class="btn btn-sm btn-outline-primary">List services</a>
        </div>
        </div>
        <div class="col-sm-5 text-center text-sm-left">
        <div class="card-body pb-0 px-0 px-md-4">
            <img
            src={% static 'theme/sneat/assets/img/illustrations/man-with-laptop-light.png' %}
            height="140"
            alt="welcome card"
            data-app-dark-img="illustrations/man-with-laptop-dark.png"
            data-app-light-img="illustrations/man-with-laptop-light.png"
            />
        </div>
        </div>
    </div>
    </div>
</div>