{% load service_custom_tags %}

<li class="nav-item">
  <button type="button" class="nav-link {{ tab_active_value }}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-{{ tab_name }}" aria-controls="navs-pills-top-{{ tab_name }}" aria-selected="true">
    {{ tab_name|capfirst }} {% if count > 0 %}
      ({{ count }})
    {% endif %}
  </button>
</li>
