{% load static %}
{% load service_custom_tags %}

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="application-profile-header d-flex flex-column flex-sm-row text-sm-start text-center">
        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
          <img src="{% if instance_object.icon_url %}
              {{ instance_object.icon_url }}
            {% else %}
              {% static 'img/default-icon-image.png' %}
            {% endif %}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded application-profile-img" />
        </div>
        <div class="flex-grow-1 mt-3 mt-sm-5">
          <div
            class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
            <div class="user-profile-info">
              <h4>{{ instance_object.name }}</h4>
              <ul
                class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                <li class="list-inline-item fw-semibold">
                  <i class="bx bx-calendar-alt"></i>{{ instance_object.creationDate }}
                </li>
              </ul>
            </div>

            {% if perms.service.change_application %}
            <a href='{% url update_url pk=instance_object.id %}' class="btn btn-primary text-nowrap"><i
                class="bx bx-pencil"></i> Edit</a>
            {% else %}
            <a href="" class="btn btn-primary text-nowrap disabled"><i class="bx bx-pencil"></i> Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>