<form class="needs-validation" novalidate enctype="multipart/form-data" method="POST">
  {% csrf_token %}

  <select class="select tom-select-pricing" name="pricing">
    {% if object.pricing %}
      <option selected data-sourceid="{{ object.id }}" value="{{ object.pricing.id }}">{{ object.pricing.name }}</option>
    {% else %}
      <option value="">Select a pricing</option>
    {% endif %}

    {% for option in all_pricings %}
      <option data-sourceid="{{ object.id }}" value="{{ option.id }}">{{ option.name }}</option>
    {% endfor %}
  </select>
</form>
