{% extends "generic/core/core.html" %}

{% load static %}

{% load service_custom_tags %}




{% block content %}
{% setvar request.resolver_match.view_name as view_name %}

{% setvar '' as list_view_title %}
{% setvar 'disabled' as disabled_create_button %}

{% if 'service' in view_name %}
{% setvar 'service' as list_view_title %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'provider' in view_name %}
{% setvar 'provider' as list_view_title %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'contract' in view_name %}
{% setvar 'contract' as list_view_title %}
{% endif %}

{% if 'pricing' in view_name %}
{% setvar 'pricing' as list_view_title %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'contact' in view_name %}
{% setvar 'contact' as list_view_title %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'hardware_mapping' in view_name %}
{% setvar 'mapping' as list_view_title %}
{% endif %}
{% if 'building' in view_name %}
{% setvar 'building' as list_view_title %}
{% endif %}

{% if 'company' in view_name %}
{% setvar 'company' as list_view_title %}
{% endif %}

{% if 'company' in view_name and perms.service.add_company %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'building' in view_name and perms.building.add_building %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'hardware_mapping' in view_name and perms.hardware.add_hardware_mapping %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'contract' in view_name and perms.service.add_contract %}
{% setvar '' as disabled_create_button %}
{% endif %}

{% if 'hardware' in view_name and perms.hardware.add_hardware %}
{% setvar '' as disabled_create_button %}
{% endif %}


<div class="container-xxl flex-grow-1 container-p-y">

  <div class="card">
    <h5 class="card-header">{{ list_view_title|title }}</h5>

    {% if 'application' in view_name %}

    <div class="table-responsive">
      <table class="table">
        {% else %}
        <div class="table-responsive card-datatable text-nowrap">
          <table class="datatables-basic table border-top custom-datatable"
            id="datatable_list_{{ list_view_title|lower }}">
            {% endif %}
            <thead>
              {% block table_header %} {% endblock %}
            </thead>
            <tbody class="table-border-bottom-0">
              {% block table_body %} {% endblock %}
            </tbody>
          </table>
        </div>
    </div>

    {% if not 'report' in view_name %}
    {% include 'generic/views/list_view/elements/button_create_object.html' with placeholder_create_url=create_url placeholder_disabled_create_button=disabled_create_button %}
    {% endif %}
    {% if page_obj %}
    {% include "generic/elements/pagination.html" %} {% endif %}


  </div>
</div>
{% endblock %}