{% extends 'generic/views/create_update/create_update_view.html' %}
{% block form_field %}
{% load building_custom_tags %}
{% get_active_users as all_users %}
<!-- Basic Layout -->
<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Mandatory information</h5>
      <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Name</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" id="id_name" required maxlength="255"
            placeholder="255 charts max" value="{{ instance_object.name }}" />
          <div class="invalid-feedback">Name is required.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Optional informations</h5>
      <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_app_id">App ID</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <input type="text" name="app_id" class="form-control" id="id_app_id" maxlength="255"
              placeholder="255 charts max" value="{{ instance_object.app_id }}" />
            <div class="invalid-feedback">Incidate an app ID</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_idp">IDP</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_idp" name="idp">
              {% for option in form.idp %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select an IDP</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_icon_url">App icon URL</label>
        <div class="col-sm-10">
          {% if instance_object.icon_url == blank %}
          <input type="url" name="icon_url" class="form-control" id="id_icon_url" maxlength="255" placeholder=""
            value="" />
          {% else %}
          <input type="url" name="icon_url" class="form-control" id="id_icon_url" maxlength="255" placeholder=""
            value="{{ instance_object.icon_url }}" />
          {% endif %}
          <div class="invalid-feedback">Indicated an icon URL</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_data_location">Data location</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_data_location" name="data_location">
              {% for option in form.data_location %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a country for data location</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_provider_location">Provier location</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_provider_location" name="provider_location">
              {% for option in form.provider_location %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a country for provider location</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_provider_location">Provider</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_provider" name="provider">
              {% for option in form.provider %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a provider</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_status">Status</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_status" name="status">
              {% for option in form.status %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a status</div>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_owner">Owner(s)</label>
        <div class="col-sm-10">
          <select multiple class="select tom-select" id="id_owner" name="owner">
            {% if instance_object.owner %}
            {% for object in instance_object.owner.all %}
            <option selected value="{{ object.id }}">{{ object.email }}</option>
            {% endfor %}
            {% else %}
            <option value="">Select a user</option>
            {% endif %}
            {% for option in all_users %}
            <option value="{{ option.id }}">{{ option.email }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Select one or several owner(s)</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_administrator">Administrator(s)</label>
        <div class="col-sm-10">
          <select multiple class="select tom-select" id="id_administrator" name="administrator">
            {% if instance_object.administrator %}
            {% for object in instance_object.administrator.all %}
            <option selected value="{{ object.id }}">{{ object.email }}</option>
            {% endfor %}
            {% else %}
            <option value="">Select a user</option>
            {% endif %}
            {% for option in all_users %}
            <option value="{{ option.id }}">{{ option.email }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Select one or several administrator(s)</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_sso_manage_by_provider">SSO managed by
          the provider</label>
        <div class="col-sm-10">
          <input {% if instance_object.sso_manage_by_provider %} checked {% endif %}type="checkbox"
            name="sso_manage_by_provider" class="form-check-input" id="id_sso_manage_by_provider" />
          <div class="invalid-feedback">Inidcate if the SSO is managed byt the provider</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_sso_type">Type of SSO</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="select tom-select" id="id_sso_type" name="sso_type">
              {% for option in form.sso_type %}
              {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a type of SSO</div>
          </div>
        </div>
      </div>

      {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
    </div>
  </div>
</div>
{% endblock %}