{% extends "generic/views/details_view/details_view.html" %}
{% load static %}
{% load service_custom_tags %}
{% load humanize %}

{% block nav_menue %}
{% include 'generic/views/details_view/elements/li_tab_core.html' with tab_name='main' tab_active_value='active' %}
{% endblock nav_menue %}

{% block nav_content %}
<!-- tab -->
<div class="tab-pane fade show active" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main</h5>
    <div class="card-body">
      <div class="row">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ instance_object.name }}</td>
            </tr>
            <tr>
              <td>Cost/unit</td>
              <td>
                {{ instance_object.cost_unit|floatformat:2|intcomma }} {{ instance_object.currency }} / {{ instance_object.time_unit }}
              </td>
            </tr>
            <tr>
              <td>Total cost</td>
              <td>{{ instance_object.total_cost|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <td>Volume</td>
              <td>{{ instance_object.volume|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <td>Pricing date</td>
              <td>{{ instance_object.pricing_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
              <td>Currency</td>
              <td>{{ instance_object.currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'generic/views/details_view/elements/button_update.html' with placeholder_edit_url=update_url%}
</div>
{% endblock nav_content %}
