{% load building_custom_tags %}
{% load humanize %}
{% get_user_building object.id as total_building_user %}

<!-- tab main -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header"><i class='bx bxs-info-circle' ></i> Main information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_building_id" class="form-label">ID</label>
          <input class="form-control-plaintext" type="text" name="building_id" id="id_building_id" value="{{ instance_object.id }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_name" class="form-label">Name</label>
          <input class="form-control-plaintext" type="text" name="name" id="id_name" value="{{ instance_object.name }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
            <label for="id_full_address" class="form-label">Full Address</label>
            <input type="textarea" class="form-control-plaintext" id="id_full_address" name="full_address" value="{{ object.address }} {{ object.street_number }}, {{ object.city }}, {{ object.zip_code }}, {{ object.country }}" readonly />
          </div>

          <div class="mb-3 col-md-6">
            <label for="id_phone_number" class="form-label">Phone number</label>
            <input type="text" class="form-control-plaintext" id="id_phone_number" name="phone_number" value="{{ instance_object.phone_number }}" readonly />
          </div>

          <div class="mb-3 col-md-6">
            <label for="id_building_manager" class="form-label">Office Manager</label>
            <ul>
            {% for user in instance_object.building_manager.all %}
            <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
    data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
            {% endfor %}
            </ul>
          </div>

        <div class="mb-3 col-md-6">
          <label for="id_capacity" class="form-label">Capacity</label>
          <input class="form-control-plaintext" type="text" name="capacity" id="id_capacity" value="{{ instance_object.capacity }}" readonly />
        </div>



        <div class="mb-3 col-md-6">
          <label for="id_reception" class="form-label">Reception available</label>
          <input class="form-control-plaintext"
            type="text"
            name="reception"
            id="id_reception"
            value={% if instance_object.reception %} "Yes" {% else %} "No"

            {% endif %}
            readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_status" class="form-label">Status</label>
          <input class="form-control-plaintext"
            type="text"
            name="status"
            id="id_status"
            value={{ instance_object.status }}
            readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_count_user" class="form-label">Count of active user</label>
         <input class="form-control-plaintext" type="text" name="count_user" id="id_count_user" value="{% get_user_building object.id %}" readonly />
        </div>

      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header"><i class='bx bxs-user-detail'></i> Point on Contact information</h5>

    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_building_manager" class="form-label">Office Manager</label>
          <ul>
          {% for user in instance_object.building_manager.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_it_support" class="form-label">IT Support</label>
          <ul>
          {% for user in instance_object.it_support.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_general_manager" class="form-label">General Manager</label>
          <ul>
          {% for user in instance_object.general_manager.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_culture_embassador" class="form-label">Culture Embassadeur</label>
          <ul>
          {% for user in instance_object.culture_embassador.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_people_director" class="form-label">People Director</label>
          <ul>
          {% for user in instance_object.people_director.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_people_partner" class="form-label">People Partner</label>
          <ul>
          {% for user in instance_object.people_partner.all %}
          <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
          {% endfor %}
          <ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header"><i class='bx bx-current-location' ></i> Location details information</h5>

    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_phone_number" class="form-label">Phone number</label>
          <input type="text" class="form-control-plaintext" id="id_phone_number" name="phone_number" value="{{ instance_object.phone_number }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_address" class="form-label">Address</label>
          <input type="text" class="form-control-plaintext" id="id_address" name="address" value="{{ instance_object.address }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_street_number" class="form-label">Street Number</label>
          <input type="text" class="form-control-plaintext" id="id_street_number" name="street_number" value="{{ instance_object.street_number }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_city" class="form-label">City</label>
          <input type="text" class="form-control-plaintext" id="id_city" name="city" value="{{ instance_object.city }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_zip_code" class="form-label">Zip Code</label>
          <input type="text" class="form-control-plaintext" id="id_zip_code" name="zip_code" value="{{ instance_object.zip_code }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_country" class="form-label">Zip Code</label>
          <input type="text" class="form-control-plaintext" id="id_country" name="country" value="{{ instance_object.country }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_public_ips" class="form-label">Public IP(s)</label>
          <ul>
          {% for ip in instance_object.public_ips.all %}
          <i> {{ ip.ip }}</i><br>
          {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header"><i class='bx bxs-building'></i> Rental and cost information</h5>

    <div class="card-body">
      <div class="row">

        <div class="mb-3 col-md-6">
            <label for="id_square_meters" class="form-label">Square meters</label>
            <input class="form-control-plaintext" type="text" name="square_meters" id="id_square_meters" value="{{ instance_object.square_meters|floatformat:2|intcomma }}" readonly />
          </div>

        <div class="mb-3 col-md-6">
          <label for="id_renting" class="form-label">Is the building under renting</label>
          <input type="text" class="form-control-plaintext" id="id_renting" name="renting" value="{{ instance_object.renting }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_start_rending_date" class="form-label">Renting start date</label>
          <input type="text" class="form-control-plaintext" id="id_start_rending_date" name="start_rending_date" value="{{ instance_object.start_rending_date|date:"d/m/Y" }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_cost_per_month" class="form-label">Cost/month</label>
          <input type="text" class="form-control-plaintext" id="id_cost_per_month" name="cost_per_month" value="{{ instance_object.cost_per_month|floatformat:0|intcomma }} {{ instance_object.currency }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_company" class="form-label">Company</label>
          <input type="text" class="form-control-plaintext" id="id_company" name="company" value="{{ instance_object.company }}" readonly />
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header"><i class='bx bxs-phone-call'></i> Room information</h5>
  
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_meeting_rom_quantity" class="form-label">Number of meeting room <i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>room/active users</span>"></i></label>
          <input type="text" class="form-control-plaintext" id="id_meeting_rom_quantity" name="meeting_rom_quantity" value="{{ instance_object.meeting_rom_quantity|floatformat:0|intcomma }} ({{ total_building_user|divide:instance_object.meeting_rom_quantity|floatformat:2|intcomma }} users/room)" readonly />
        </div>
  
        <div class="mb-3 col-md-6">
          <label for="id_phonebooth_quantity" class="form-label">Number of phonebooth</label>
          <input class="form-control-plaintext" type="text" name="phonebooth_quantity" id="id_phonebooth_quantity" value="{{ instance_object.phonebooth_quantity|floatformat:0|intcomma }} ({{ total_building_user|divide:instance_object.phonebooth_quantity|floatformat:2|intcomma }} users/room)" readonly />
        </div>
  
        <div class="mb-3 col-md-6">
          <label for="id_amphitheater_quantity" class="form-label">Number of amphitheate</label>
          <input class="form-control-plaintext" type="text" name="amphitheater_quantity" id="id_amphitheater_quantity" value="{{ instance_object.amphitheater_quantity|floatformat:0|intcomma }} ({{ total_building_user|divide:instance_object.amphitheater_quantity|floatformat:2|intcomma }} users/room)" readonly />
        </div>
  
      </div>
    </div>
  </div>

<div class="card mb-4">
  <h5 class="card-header"><i class='bx bxs-cog'></i> Other information</h5>

  <div class="card-body">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="id_target_presence" class="form-label">Target presence</label>
        <input type="text" class="form-control-plaintext" id="id_target_presence" name="target_presence" value="{{ instance_object.target_presence }}" readonly />
      </div>

      <div class="mb-3 col-md-6">
        <label for="id_type" class="form-label">Type</label>
        <input class="form-control-plaintext" type="text" name="type" id="id_type" value="{{ instance_object.type }}" readonly />
      </div>

      <div class="mb-3 col-md-6">
        <label for="id_size" class="form-label">Size</label>
        <input class="form-control-plaintext" type="text" name="size" id="id_size" value="{{ instance_object.size }}" readonly />
      </div>

    </div>
  </div>
</div>
</div>
