{% extends "generic/core/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}

<main class="form-signin text-center container-fluid">
  <form class="logout" method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'img/brand/bootstrap-logo.svg' %}" alt="logo" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Are you sure you want to sign out</h1>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans "Sign Out" %}</button>
  </form>
</main>

{% endblock %}
