{% load service_custom_tags %}
{% load humanize %}
  <!-- tab -->
  <div
    class="tab-pane fade {{ tab_active_value }}"
    id="navs-pills-top-main"
    role="tabpanel"
  >
    <div class="card mb-4">
      <h5 class="card-header">Main</h5>
      <div class="card-body">
        <div class="row">

<table class="table table-borderless">
  <tbody>

<tr>
  <td>Name</td>
  <td>{{ instance_object.name }}</td>
</tr>
<tr>
  <td>Invoice email</td>
  <td>{{ instance_object.invoice_email }}</td>
</tr>
<tr>
  <td>VAT Number</td>
  <td>{{ instance_object.vat_number }}</td>
</tr>
<tr>
  <td>Address</td>
  <td>{{ instance_object.address }}</td>
</tr>
<tr>
  <td>Street Number</td>
  <td>{{ instance_object.street_number }}</td>
</tr>
<tr>
  <td>Zip Code</td>
  <td>{{ instance_object.zip_code }}</td>
</tr>
<tr>
  <td>City</td>
  <td>{{ instance_object.city }}</td>
</tr>
<tr>
  <td>Country</td>
  <td>{{ instance_object.country }}</td>
</tr>

<tr>
  <td>Brand name</td>
  <td>{{ instance_object.brand_name }}</td>
</tr>

<tr>
  <td>Activity</td>
  <td>{{ instance_object.activity }}</td>
</tr>
<tr>
  <td>Incorporation_date</td>
  <td>{{ instance_object.incorporation_date|date:"d/m/Y" }}</td>
</tr>
<tr>
  <td>Share_capital</td>
  <td>{{ instance_object.share_capital }}</td>
</tr>
<tr>
  <td>Tax ID</td>
  <td>{{ instance_object.tax_id }}</td>
</tr>
<tr>
  <td>Trade register</td>
  <td>{{ instance_object.trade_register }}</td>
</tr>
<tr>
  <td>Shareholders</td>
  <td>{{ instance_object.shareholders }}</td>
</tr>

</tbody>
</table>
</div>
</div>
</div>

{% if perms.service.change_company %}
{% include 'generic/views/details_view/elements/button_update.html' with placeholder_edit_url=update_url%}
{% endif %}
</div>