<!-- link-applications tab -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-link-applications" role="tabpanel">

    <div class="card mb-4">
      <h5 class="card-header">Linked Application</h5>
      <div class="card-body">
      <div class="button-wrapper">

        {% if instance_object.owner.id == user.id or instance_object.createdByUserId.id == user.id or user.is_superuser %}
        {% with object_list=all_applications link_name='application' placeholder_form_url='service_add_linkapplication' %}
        {% include 'generic/elements/service_link_form.html' %}
        {% endwith %}
        {% endif %}

      </div>
    </div>
      <hr class="my-0" />
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Action</th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {% for object in instance_object.application.all %}

              <tr>
                {% with placeholder_details_url='application_details' placeholder_unlink_url='service_remove_linkapplication' pk_source=instance_object.id lpk_source=object.id %}
                {% include 'service/elements/td_link_object_actions.html' %}
                {% endwith %}
                <td>{% if object.icon_url %}
                  <img src="{{ object.icon_url }}" height="32px" width="32px"></img>
                  {% else %}
                  {% include 'generic/elements/icon_placeholder.html' %}
                  {% endif %}</td>
                  <td>{{ object.name }} <i class='bx bx-info-circle'
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="right"
                    data-bs-html="true"
                    title="<span>IDP Source: {{object.idp }}</span>"></i>
                </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
