{% load static %}

<div class="demo-inline-spacing">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}&query={{ request.GET.query }}"><i class="tf-icon bx bx-chevron-left"></i></a>
      </li>
      {% if page_obj.number > 3 %}
      <a class="page-link" href="?page=1">1</a>
      {% if page_obj.number > 4 %}
      <li class="page-item">
        <a class="page-link disabled">...</a>
      </li>
      {% endif %} {% endif %} {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
      <li class="page-item active">
        <a
          class="page-link"
          href="?page={{ num }}&query={{ request.GET.query }}">{{ num }}</a
        >
      </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ num }}&query={{ request.GET.query }}">{{ num }}</a>
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %} {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
      <li class="page-item">
        <a class="page-link disabled">...</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.paginator.num_pages }}&query={{ request.GET.query }}">{{ page_obj.paginator.num_pages }}</a>
      </li>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.paginator.num_pages }}&query={{ request.GET.query }}">{{ page_obj.paginator.num_pages }}</a>
      </li>
      {% endif %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.next_page_number }}&query={{ request.GET.query }}"><i class="tf-icon bx bx-chevron-right"></i></a>
      </li>

      {% endif %}
    </ul>
  </nav>
</div>
