{% load static %}
{% load service_custom_tags %}

{% if object.status == 'active' %}
  <span class="badge bg-success">{{ object.status }}</span>
{% endif %}

{% if object.status == 'suspended' %}
  <span class="badge bg-warning text-dark">{{ object.status }}</span>
{% endif %}

{% if object.status == 'terminated' %}
  <span class="badge bg-danger">{{ object.status }}</span>
{% endif %}

{% if object.status == 'deleted' %}
  <span class="badge bg-danger">{{ object.status }}</span>
{% endif %}

{% if object.status == 'decommissioned' %}
  <span class="badge bg-danger">{{ object.status }}</span>
{% endif %}
