.custom-tab-content {

  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}

.custom-select {
  padding: 0 0 0;
  border: 0;
}

.custom-select .ts-control {
  padding-top: 10px;

}

.tooltip-success {
  --bs-bg-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.tooltip-danger {
  --bs-bg-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}