{% extends "generic/views/create_update/create_update_view.html" %}
{% block form_field %}

<!-- Basic Layout -->
<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">

                <div class="row mb-3">
                    <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name"
                    >Name</label
                  >
                  <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="id_name" required maxlength="255"
                            placeholder="255 charts max" value="{{ instance_object.name }}">
                        <div class="invalid-feedback">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_status">Status</label>
                    <div class="col-sm-10">
                                <select class="form-select" id="id_status" name="status" required>
                                    {% for option in form.status %}
                                    {{ option }}
                                    {% endfor %}
                                </select>
                        <div class="invalid-feedback">
                            Select a status
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Optional informations</h5>
            <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
          </div>
          <div class="card-body">

                    <div class="row mb-3">
                        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_provider">Provider</label>
                      <div class="col-sm-10">
                                    <select class="select tom-select" id="id_provider" name="provider">
                                        {% for option in form.provider %}
                                        {{ option }}
                                        {% endfor %}
                                    </select>
                            <div class="invalid-feedback">
                                Select a provider
                            </div>
                        </div>
                    </div>


                        <div class="row mb-3">
                        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_start_date">Start date</label>
                      <div class="col-sm-10">
                                <input type="date" name="start_date" class="form-control" id="id_start_date" maxlength="255"
                                     value="{{ instance_object.start_date|date:"Y-m-d" }}">
                                <div class="invalid-feedback">
                                    Indicated a start date
                                </div>
                            </div>
                        </div>



                    <div class="row mb-3">
                        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_end_date">End date</label>
                      <div class="col-sm-10">
                                <input type="date" name="end_date" class="form-control" id="id_end_date" maxlength="255"
                                     value="{{ instance_object.end_date|date:"Y-m-d" }}">
                                <div class="invalid-feedback">
                                    Indicated a end date
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_renewal_date">Renewal date</label>
                            <div class="col-sm-10">
                                <input type="date" name="renewal_date" class="form-control" id="id_renewal_date" maxlength="255"
                                     value="{{ instance_object.renewal_date|date:"Y-m-d" }}">
                                <div class="invalid-feedback">
                                    Indicated a renewal date
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_duration">Duration</label>
                            <div class="col-sm-10">
                                <input type="number" name="duration" class="form-control" id="id_duration" maxlength="3"
                                    placeholder="36" step="1"value="{{ instance_object.duration }}">
                                <div class="invalid-feedback">
                                    Indicated a contract duration
                                </div>
                            </div>
                        </div>

                    
                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_duration_unit">Duration unit</label>
                            <div class="col-sm-10">
                                        <select class="form-select" id="id_duration_unit" name="duration_unit" required>
                                            {% for option in form.duration_unit %}
                                            {{ option }}
                                            {% endfor %}
                                        </select>
                                <div class="invalid-feedback">
                                    Indicated a duration unit
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_total_cost">Total cost</label>
                            <div class="col-sm-10">
                                <input type="number" name="total_cost" class="form-control" id="id_total_cost" maxlength="255"
                                    placeholder="30000.30" step="any" value="{{ instance_object.total_cost }}">
                                <div class="invalid-feedback">
                                    Indicated a total cost
                                </div>
                            </div>
                        </div>
                    

                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_volume">Volume</label>
                            <div class="col-sm-10">
                                <input type="number" name="volume" class="form-control" id="id_volume" maxlength="255"
                                    placeholder="30" step="any" value="{{ instance_object.volume }}">
                                <div class="invalid-feedback">
                                    Indicated a volume
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_cost_unit">Cost/unit</label>
                            <div class="col-sm-10">
                                <input type="number" name="cost_unit" class="form-control" id="id_cost_unit" maxlength="255"
                                    placeholder="1000.1" step="any" value="{{ instance_object.cost_unit }}">
                                <div class="invalid-feedback">
                                    Indicated a cost/unit
                                </div>
                            </div>
                        </div>
            

                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_currency">Currency</label>
                            <div class="col-sm-10">

                                        {% if instance_object.currency == blank %}
                                        <input type="text" name="currency" class="form-control" id="id_currency"  minlength="3" maxlength="3"
                                        placeholder="ISO Code, like EUR" value="EUR">
                                        {% else %}
                                <input type="text" name="currency" class="form-control" id="id_currency"  minlength="3" maxlength="3"
                                    placeholder="ISO Code, like EUR" value="{{ instance_object.currency }}">
                                    {% endif %}
                                <div class="invalid-feedback">
                                    Indicated a currency in ISO format like EUR or USD
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_company">Company</label>
                            <div class="col-sm-10">
                                        <select class="select tom-select" id="id_company" name="company">
                                            {% for option in form.company %}
                                            {{ option }}
                                            {% endfor %}
                                        </select>
                                <div class="invalid-feedback">
                                    Select a company
                                </div>
                            </div>
                        </div>
                    

                        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
                    </div>
                </div>
            </div>

                
{% endblock %}