{% extends 'generic/views/create_update/create_update_view.html' %}
{% load service_custom_tags %}
{% load hardware_custom_tags %}
{% block form_field %}

  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_rule">Rule<i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="<span>The listed rules are the one missing an hardware mapping.</span>"></i></label>
          <div class="col-sm-10">
            {% if form_action == 'update' %}
              {{ instance_object.rule }}
            {% else %}
              {% get_rule_not_set as rules %}
              <select class="select tom-select" id="id_rule" name="rule" required>
                {% if not instance_object.rule %}
                  <option value="">Select available rule</option>
                {% endif %}
                {% for option in rules %}
                  {{ option }}
                  <option value="{{ option.id }}">{{ option }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">Select a rule</div>
            {% endif %}
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_hardware">Hardware</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_hardware" name="hardware" multiple required>
              {% if not instance_object.hardware.all %}
                <option value="">Select hardware(s)</option>
              {% endif %}
              {% for option in form.hardware %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select hardware(s)</div>
          </div>
        </div>
        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
      </div>
    </div>
  </div>
{% endblock %}
