{% extends "generic/core/core.html" %} {% load static %} {% load service_custom_tags %} {% load humanize %}
{% block content %}

{% get_total_cost_user user.id as user_cost %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    {% if not instance_object %}
    <h5 class="card-header">⚠️ You have no application assigned</h5>
    {% else %}
    <h5 class="card-header">💰 My application cost: {% if user_cost.total_cost_user %}{{ user_cost.total_cost_user|floatformat:0|intcomma }}{% else %}0{% endif %} EUR/month</h5>
    
    
    <div class="table-responsive card-datatable">
    
      <table class="datatables-basic table border-top custom-datatable" id="datatable_list_user_cost">
        <thead class="table-secondary">
          <tr>
            <th scope="col">App name {% if user_cost.count_app_user %}({{ user_cost.count_app_user }}){% endif %}</th>
            <th scope="col">Total cost ({% if user_cost.total_cost_user %}{{ user_cost.total_cost_user|floatformat:0|intcomma }}{% else %}0{% endif %} EUR/month)</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
          {% for object in instance_object %}

          <tr>
            <td>{{ object.name }}</td>
            <td>
              {% if object.pricing.cost_unit %}
              {% if object.pricing.cost_unit %}{{ object.pricing.cost_unit|floatformat:0|intcomma }}{% else %}0{% endif %}
              {% if object.pricing.currency %}{{ object.pricing.currency }}{% else %}EUR{% endif %}/
              {% if object.pricing.time_unit %}{{ object.pricing.time_unit }}{% else %}month{% endif %}
              {% else %}
              0.0 EUR/month (No cost set)
              {% endif %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  {% if page_obj %} {% include "generic/elements/pagination.html" %} {% endif %}
</div>
{% endblock %}
