{% extends 'generic/core/core.html' %} {% load static %} {% load service_custom_tags %} {% load humanize %}

{% block content %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">💰 Cost</h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Total users</th>
              <th scope="col">Total cost</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for object in page_obj %}
              <tr>
                <td>{{ object.department_name }}</td>
                <td>{{ object.total_users }}</td>
                <td>{{ object.total_cost_department|floatformat:0|intcomma }}</td>
                <td>
                  {% if object.total_users > 0 %}
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#department-cost-detail-{{ object.id }}" aria-expanded="true">Detail</button>
                  {% endif %}
                </td>
              </tr>
              {% if object.total_users > 0 %}
                <tr id="department-cost-detail-{{ object.id }}" class="accordion-collapse collapse">
                  <td colspan="4">
                    <table class="table table-bordered">
                      <thead class="table-primary">
                        <tr>
                          <th scope="col">Email</th>
                          <th scope="col">Total app user</th>
                          <th scope="col">Total cost user</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        {% get_cost_user_from_department object.id as user_dep %}

                        {% for user in user_dep %}
                          <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.count_app_user }}</td>
                            <td>{{ user.total_cost_user|floatformat:0|intcomma }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if page_obj %}
      {% include 'generic/elements/pagination.html' %}
    {% endif %}
  </div>
{% endblock %}
