{% extends "generic/views/list_view/list_view.html" %}

{% load service_custom_tags %}
{% load building_custom_tags %}
{% load humanize %}



{% block table_header %}

<tr>
  <th scope="col">Action</th>
  <th scope="col">Status</th>
  <th scope="col">Name</th>
  <th scope="col">Country</th>
  <th scope="col">Office manager</th>
  <th scope="col">Phone Number</th>
  <th scope="col">Address</th>
  <th scope="col">Count User <i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
    data-bs-placement="right" data-bs-html="true" title="<span>Active users</span>"></i></th>

{% endblock %}
{% block table_body %}

{% for object in instance_object %}
<tr>
  {% include 'building/elements/td_action_button.html' %}
  <td>{% include  'generic/elements/status.html' %}</td>
  <td>{{ object.name|truncatechars:20 }}<i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
    data-bs-placement="right" data-bs-html="true" title="<span>{{object.name }}</span>"></i></td>
    
  <td>{% if object.country is not None %}{{ object.country }}{% else %}None{% endif %}</td>
  <td>
    {% for user in object.building_manager.all %}
    {% if user is not None %}<i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
    data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}{% else %}None{% endif %}<br>
    {% endfor %}
  </td>
  <td>{{ object.phone_number }}</td>
  <td>{{ object.address }} {{ object.street_number }}<br>{{ object.city }} {{ object.zip_code }}<br>{{ object.country }}</td>
  <td>{% get_user_building object.id %}</td>
  

</tr>
{% endfor %}
{% endblock %}
