{% extends 'generic/views/list_view/list_view.html' %}
{% block table_header %}
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
{% endblock %}
{% block table_body %}
  {% for object in instance_object %}
    <tr>
      {% include 'generic/elements/td_action_button.html' %}
      <td>{{ object.name }}</td>
      <td>{{ object.firstname }}</td>
      <td>{{ object.lastname }}</td>
      <td>{{ object.email }}</td>
      <td>{{ object.phone }}</td>
    </tr>
  {% endfor %}
{% endblock %}
