{% extends "generic/views/create_update/create_update_view.html" %}
{% load static %}
{% block form_field %}
{% load building_custom_tags %}

{% get_active_users as all_users %}
<!-- Basic Layout -->
<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Mandatory information</h5>
      <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name"
          >Service Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="name"
            class="form-control"
            id="id_name"
            required
            maxlength="255"
            placeholder="255 charts max"
            value="{{ instance_object.name }}"
          />
          <div class="invalid-feedback">Name is required.</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_description"
          >Description</label
        >
        <div class="col-sm-10">
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="id_description"
            required
            maxlength="255"
            placeholder="255 charts max"
          >
{{ instance_object.description }}</textarea
          >
          <div class="invalid-feedback">Description is required.</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_tier"
          >Tier</label
        >
        <div class="col-sm-10">
          <select class="form-select" id="id_tier" name="tier" required>
            {% for option in form.tier %} {{ option }} {% endfor %}
          </select>
          <div class="invalid-feedback">Select a tier</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_status"
          >Status</label
        >
        <div class="col-sm-10">
          <select class="form-select" id="id_status" name="status" required>
            {% for option in form.status %} {{ option }} {% endfor %}
          </select>
          <div class="invalid-feedback">Select a status</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div
        class="card-header d-flex align-items-center justify-content-between"
      >
        <h5 class="mb-0">Optional information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_department"
            >Department</label
          >
          <div class="col-sm-10">
            <select class="form-select" id="id_department" name="department">
              {% for option in form.department %} {{ option }} {% endfor %}
            </select>
            <div class="invalid-feedback">Select a department</div>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_subdepartment"
            >Subdepartment</label
          >
          <div class="col-sm-10">
            <select
              class="form-select"
              id="id_subdepartment"
              name="subdepartment"
            >
              {% for option in subdepartments %} {% if instance_object.subdepartment.id == option.id %}
              <option
                selected
                data-dep-id="{{ option.department.id }}"
                value="{{ option.id }}"
              >
                {{ option.name }}
              </option>
              {% else %}
              <option
                data-dep-id="{{ option.department.id }}"
                value="{{ option.id }}"
              >
                {{ option.name }}
              </option>
              {% endif %} {% endfor %}
            </select>
            <div class="invalid-feedback">Select a sub-department</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_owner">Owner(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_owner" name="owner">
              {% if instance_object.owner %}
                {% for object in instance_object.owner.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or several owner(s)</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_administrator">Administrator(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_administrator" name="administrator">
              {% if instance_object.administrator %}
                {% for object in instance_object.administrator.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or several administrator(s)</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_procurement">Procurement(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_procurement" name="procurement">
              {% if instance_object.procurement %}
                {% for object in instance_object.procurement.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or several procurement responsible</div>
          </div>
        </div>



        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_provider"
            >Provider</label
          >
          <div class="col-sm-10">
            <select class="select tom-select" id="id_provider" name="provider">
              {% for option in form.provider %} {{ option }} {% endfor %}
            </select>
            <div class="invalid-feedback">Select a provider</div>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_identity_provider"
            >IDP integration</label
          >
          <div class="col-sm-10">
            <select
              class="select tom-select"
              id="id_identity_provider"
              name="identity_provider"
            >
              {% for option in form.identity_provider %} {{ option }} {% endfor%}
            </select>
            <div class="invalid-feedback">
              Select a value for IDP integration
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_company"
            >Company</label
          >
          <div class="col-sm-10">
            <select class="select tom-select" id="id_company" name="company">
              {% for option in form.company %} {{ option }} {% endfor %}
            </select>
            <div class="invalid-feedback">Select a company</div>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_health_check"
            >Health Check</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="health_check"
              class="form-control"
              id="id_health_check"
              maxlength="255"
              value="{{ instance_object.health_check }}"
            />
            <div class="invalid-feedback">Add health check</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_category"
            >Category</label
          >
          <div class="col-sm-10">
            <select class="select tom-select" id="id_category" name="category">
              {% for option in form.category %} {{ option }} {% endfor %}
            </select>
            <div class="invalid-feedback">Select a category</div>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_service_website"
            >Service website</label
          >
          <div class="col-sm-10">
            {% if instance_object.service_website == blank %}
            <input
              type="url"
              name="service_website"
              class="form-control"
              id="id_service_website"
              maxlength="255"
              placeholder="https://slack.com/"
              value=""
            />
            {% else %}
            <input
              type="url"
              name="service_website"
              class="form-control"
              id="id_service_website"
              maxlength="255"
              placeholder="https://slack.com/"
              value="{{ instance_object.service_website }}"
            />
            {% endif %}
            <div class="invalid-feedback">Add a service website</div>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="col-sm-2 col-col-sm-2 col-form-label"
            for="id_service_url"
            >Service URL</label
          >
          <div class="col-sm-10">
            {% if instance_object.service_url == blank %}
            <input
              type="url"
              name="service_url"
              class="form-control"
              id="id_service_url"
              maxlength="255"
              placeholder="https://app.slack.com/"
              value=""
            />
            {% else %}
            <input
              type="url"
              name="service_url"
              class="form-control"
              id="id_service_url"
              maxlength="255"
              placeholder="https://app.slack.com/"
              value="{{ instance_object.service_url }}"
            />
            {% endif %}
            <div class="invalid-feedback">Add a service URL</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_icon"
            >Upload Icon<br />(200x200 px)</label
          >
          <div class="col-sm-10">
            <input
              type="file"
              name="icon"
              class="form-control"
              id="id_icon"
              accept="image/png, image/jpeg, image/svg"
            />

            <div class="invalid-feedback">Add an icon</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="supported_by"
            >Supported by</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="supported_by"
              class="form-control"
              id="id_supported_by"
              maxlength="255"
              value="{{ instance_object.supported_by }}"
            />
            <div class="invalid-feedback">Add supported_by</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_support_url"
            >Support URL</label
          >
          <div class="col-sm-10">
            {% if instance_object.support_url == blank %}
            <input
              type="url"
              name="support_url"
              class="form-control"
              id="id_support_url"
              maxlength="255"
              placeholder="https://support.myservice.com"
              value=""
            />
            {% else %}
            <input
              type="url"
              name="support_url"
              class="form-control"
              id="id_support_url"
              maxlength="255"
              value="{{ instance_object.support_url }}"
            />
            {% endif %}
            <div class="invalid-feedback">Indicated a support URL</div>
          </div>
        </div>

        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
        <script src="{% static 'script/dep-subdep.js' %}"></script>
      </div>
    </div>
  </div>



  {% endblock %}
</div>
