{% extends "generic/views/list_view/list_view.html" %}

{% load service_custom_tags %}
{% load humanize %}



{% block table_header %}

<tr>
  <th scope="col">Action</th>
  <th scope="col">Icon</th>
  <th scope="col">Name</th>
  <th scope="col">Status</th>
  <th scope="col">Department</th>
  <th scope="col">Sub department</th>
  <th scope="col">Owner</th>
  <th scope="col">Support by</th>
  <th scope="col">Current cost <i class='bx bx-info-circle'
    data-bs-toggle="tooltip"
    data-bs-offset="0,4"
    data-bs-placement="top"
    data-bs-html="true"
    title="<span>Cost displayed are filtered by active contract only.</span>"></i></th>
</tr>
{% endblock %}
{% block table_body %}
{% for object in instance_object %}
<tr>
  {% include 'generic/elements/td_action_button.html' %}
  <td>{% if object.icon %}
    <img src="{{ object.icon.url }}" height="32px" width="32px"></img>
    {% else %}
    {% include 'generic/elements/icon_placeholder.html' %}
    {% endif %}
  <td>{{ object.name }}</td>
  <td>{% include  'generic/elements/status.html' %}</td>
  <td>{{ object.department }}</td>
  <td>{{ object.subdepartment }}</td>
  <td>{% if object.owner %}
    <ul>
      {% for owner in object.owner.all %}
    <li><i class='bx bxs-user-circle {% if owner.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
    data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ owner.is_active}}<br>First name: {{owner.first_name }}<br>Last name: {{owner.last_name }}<br>Manager: {{owner.manager.email }}</span>"></i> {{ owner.email }}</i></li>
    {% endfor %}
    <ul>
      {% else %}Not set{% endif %}
    </td>
    <td>{{ object.supported_by }}</td>
  <td>
    {% get_service_cost_by_status object.id as service_costs %}
    {% if service_costs %}
    {% for cost in service_costs %}

    {{ cost.total | floatformat:0|intcomma }} {{ cost.contract__currency }}/{{ cost.contract__duration_unit|title}}<br>
    
    {% endfor %}
    {% else %}
    No contract
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endblock %}
