{% extends 'generic/views/list_view/list_view.html' %}
{% block table_header %}
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">VAT Number</th>
    <th scope="col">Currency Preffered</th>
  </tr>
{% endblock %}
{% block table_body %}
  {% for object in instance_object %}
    <tr>
      {% include 'generic/elements/td_action_button.html' %}
      <td>{{ object.name }}</td>
      <td>{{ object.email }}</td>
      <td>{{ object.phone }}</td>
      <td>
        {{ object.address }} {{ object.street_number }}<br />{{ object.zip_code }}<br />{{ object.city }}<br />{{ object.country }}
      </td>
      <td>{{ object.vat_number }}</td>
      <td>{{ object.currency_preffered }}</td>
    </tr>
  {% endfor %}
{% endblock %}
