{% extends 'generic/core/core.html' %}
{% load static %}
{% load service_custom_tags %}

{% block content %}
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- row 1 -->
    <div class="row">
      {% include 'index/elements/card_01.html' %}
      {% include 'index/elements/card_03.html' %}

      {% include 'index/elements/card_11.html' %}
      {% include 'index/elements/card_02.html' %}
      {% include 'index/elements/card_04.html' %}
      {% include 'index/elements/card_08.html' %}
      <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
        <!-- row 1.1 -->
        <div class="row">
          <!-- / row 1.1 -->
        </div>
      </div>
      <!-- / row 1 -->
    </div>
    <!-- row 2 -->
    <div class="row">
      <!-- / row 2 -->
    </div>
  </div>
  <!-- / Content -->
{% endblock %}
