{% load static %}
{% load service_custom_tags %}
{% load hardware_custom_tags %}
{% get_app_version as app_version %}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
            <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
            <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
            <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
          </defs>
          <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
              <g id="Icon" transform="translate(27.000000, 15.000000)">
                <g id="Mask" transform="translate(0.000000, 8.000000)">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <use fill="#696cff" xlink:href="#path-1"></use>
                  <g id="Path-3" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-3"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                  </g>
                  <g id="Path-4" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-4"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                  </g>
                </g>
                <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                  <use fill="#696cff" xlink:href="#path-5"></use>
                  <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Catalogue</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"><i class="bx bx-chevron-left bx-sm align-middle"></i></a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Services -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Objects</span>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-windows"></i>
        <div data-i18n="Providers">Services</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'service_list' %}" class="menu-link"><div data-i18n="Services list">Services list</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'service_creation' %}" class="menu-link"><div data-i18n="Create service">Create service</div></a>
        </li>
        {% if perms.service.export_service %}
          <li class="menu-item">
            <a href="{% url 'service_export' %}" class="menu-link"><div data-i18n="Export service">Export service</div></a>
          </li>
        {% endif %}
      </ul>
    </li>

    <!-- Hardwares -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-laptop"></i>
        <div data-i18n="Hardwares">Hardwares</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'hardware_list' %}" class="menu-link"><div data-i18n="hardwares list">Hardwares list</div></a>
        </li>
        {% if perms.hardware.add_hardware %}
          <li class="menu-item">
            <a href="{% url 'hardware_creation' %}" class="menu-link"><div data-i18n="Create hardware">Create hardware</div></a>
          </li>
        {% endif %}
        {% if perms.hardware.export_hardware %}
          <li class="menu-item">
            <a href="{% url 'hardware_export' %}" class="menu-link"><div data-i18n="Export hardware">Export hardware</div></a>
          </li>
        {% endif %}
      </ul>
    </li>
    <!-- Mappings -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-sitemap"></i>
        <div data-i18n="Hardwares Mappings">Mappings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'hardware_mapping_list' %}" class="menu-link"><div data-i18n="hardwares mappings list">Mapping list</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'hardware_mapping_search' %}?query=missing&minuser=0" class="menu-link">
            <div data-i18n="missing hardwares mappings ">
              Missing Mapping ({% get_missing_hardware_mapping Flase %})
            </div>
          </a>
        </li>
        {% if perms.hardware.add_hardware_mapping %}
          <li class="menu-item">
            <a href="{% url 'hardware_mapping_creation' %}" class="menu-link"><div data-i18n="Create hardware mapping">Create mapping</div></a>
          </li>
        {% endif %}
        {% if perms.hardware.export_hardware_mapping %}
          <li class="menu-item">
            <a href="{% url 'hardware_mapping_export' %}" class="menu-link"><div data-i18n="Export hardwares mappings">Export mapping</div></a>
          </li>
        {% endif %}
      </ul>
    </li>
    <!-- Applications -->
    {% if perms.service.view_application %}
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-package"></i>
          <div data-i18n="applications">Applications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'application_list' %}" class="menu-link"><div data-i18n="application list">Applications list</div></a>
          </li>
          {% if perms.service.add_application %}
            <li class="menu-item">
              <a href="{% url 'application_creation' %}" class="menu-link"><div data-i18n="Create application">Create Application</div></a>
            </li>
          {% endif %}
          {% if perms.service.export_application %}
            <li class="menu-item">
              <a href="{% url 'application_export' %}" class="menu-link"><div data-i18n="Export application">Export Application</div></a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    <!-- Providers -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-radio-circle"></i>
        <div data-i18n="Providers">Providers</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'provider_list' %}" class="menu-link"><div data-i18n="Providers list">Providers list</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'provider_creation' %}" class="menu-link"><div data-i18n="Create provider">Create provider</div></a>
        </li>
        {% if perms.service.export_provider %}
          <li class="menu-item">
            <a href="{% url 'provider_export' %}" class="menu-link"><div data-i18n="Export provider">Export provider</div></a>
          </li>
        {% endif %}
      </ul>
    </li>

    <!-- Contracts -->
    {% if perms.service.view_contract or perms.service.add_contract or perms.service.export_contract %}
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-file"></i>
          <div data-i18n="Contracts">Contracts</div>
        </a>
        <ul class="menu-sub">
          {% if perms.service.view_contract %}
            <li class="menu-item">
              <a href="{% url 'contract_list' %}" class="menu-link"><div data-i18n="Contracts list">Contracts list</div></a>
            </li>
          {% endif %}
          {% if perms.service.add_contract %}
            <li class="menu-item">
              <a href="{% url 'contract_creation' %}" class="menu-link"><div data-i18n="Create contract">Create contract</div></a>
            </li>
          {% endif %}

          {% if perms.service.export_contract %}
            <li class="menu-item">
              <a href="{% url 'contract_export' %}" class="menu-link"><div data-i18n="Export contract">Export contract</div></a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    <!-- Pricings -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-purchase-tag-alt"></i>
        <div data-i18n="Pricings">Pricings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'pricing_list' %}" class="menu-link"><div data-i18n="Pricings list">Pricings list</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'pricing_creation' %}" class="menu-link"><div data-i18n="Create pricing">Create pricing</div></a>
        </li>
        {% if perms.service.export_pricing %}
          <li class="menu-item">
            <a href="{% url 'pricing_export' %}" class="menu-link"><div data-i18n="Export pricing">Export pricing</div></a>
          </li>
        {% endif %}
      </ul>
    </li>
    <!-- Cost -->

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-money"></i>
        <div data-i18n="Cost">Cost</div>
      </a>
      <ul class="menu-sub">
        {% if perms.service.list_cost_per_dep %}
          <li class="menu-item">
            <a href="{% url 'cost_list' %}" class="menu-link"><div data-i18n="Cost list">Cost</div></a>
          </li>
        {% endif %}
        <li class="menu-item">
          <a href="{% url 'my_cost' %}" class="menu-link"><div data-i18n="My cost">My cost</div></a>
        </li>
      </ul>
    </li>
    <!-- Building -->
    
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon bx bxs-building'></i>
        <div data-i18n="building">Building</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'building_list' %}" class="menu-link"><div data-i18n="Buildings">Building list</div></a>
        </li>
        {% if perms.building.add_building %}
        <li class="menu-item">
          <a href="{% url 'building_creation' %}" class="menu-link"><div data-i18n="Create building">Create building</div></a>
        </li>
        {% endif %}
        {% if perms.building.export_building %}
        <li class="menu-item">
          <a href="{% url 'building_export' %}" class="menu-link"><div data-i18n="Building export">Building export</div></a>
        </li>
        {% endif %}
      </ul>
    </li>
    
        <!-- Contact -->
        {% if user.is_superuser %}
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class='menu-icon bx bxs-contact'></i>
            <div data-i18n="contact">Contact</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="{% url 'contact_list' %}" class="menu-link"><div data-i18n="Contacts">Contact list</div></a>
            </li>
            
            <li class="menu-item">
              <a href="{% url 'contact_export' %}" class="menu-link"><div data-i18n="Contact export">Contact export</div></a>
            </li>
            
          </ul>
        </li>
        {% endif %}

                <!-- Company -->
                
                <li class="menu-item">
                  <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon bx bxs-castle'></i>
                    <div data-i18n="company">Company</div>
                  </a>
                  <ul class="menu-sub">
                    <li class="menu-item">
                      <a href="{% url 'company_list' %}" class="menu-link"><div data-i18n="Contacts">Company list</div></a>
                    </li>
                    {% if perms.service.add_company %}
                    <li class="menu-item">
                      <a href="{% url 'company_creation' %}" class="menu-link"><div data-i18n="Create company">Create company</div></a>
                    </li>
                  {% endif %}

                    
                    {% if perms.service.export_company %}
                    <li class="menu-item">
                      <a href="{% url 'company_export' %}" class="menu-link"><div data-i18n="Contact export">Company export</div></a>
                    </li>
                    {% endif %}
                    
                  </ul>
                </li>
                <!-- Reports -->
                {% if perms.service.view_report %}
                <li class="menu-item">
                  <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon bx bx-file'></i>
                    <div data-i18n="company">Reports</div>
                  </a>
                  <ul class="menu-sub">
                    <li class="menu-item">
                      <a href="{% url 'report_list' %}" class="menu-link"><div data-i18n="Contacts">Report list</div></a>
                    </li>
                    
                    
                  </ul>
                </li> 
                {% endif %}

    <!-- Administration -->
    {% if user.is_staff %}
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Admin</span>
      </li>

      <li class="menu-item">
        <a href="/admin" class="menu-link" target="_blank">
          <i class="menu-icon tf-icons bx bx-shield-alt-2"></i>
          <div data-i18n="Administration">Administration</div>
        </a>
      </li>
    {% endif %}

    <!-- Developer -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Developer</span>
    </li>
    <!-- API -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-code-curly"></i>
        <div data-i18n="API">API</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'swagger-ui' %}" class="menu-link" target="_blank"><div data-i18n="Swagger">Swagger</div></a>
        </li>
        <li class="menu-item">
          <a href="/api/v1/" class="menu-link"><div data-i18n="API">API</div></a>
        </li>
        <li class="menu-item">
          <a href="/api/v1/auth/login/" class="menu-link" target="_blank"><div data-i18n="API Auth">API Auth</div></a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-alt"></i>
        <div data-i18n="API">JWT</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'token_obtain_pair' %}" class="menu-link" target="_blank"><div data-i18n="JWT Pair">JWT Pair</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'token_refresh' %}" class="menu-link" target="_blank"><div data-i18n="JWT Refresh">JWT Refresh</div></a>
        </li>
        <li class="menu-item">
          <a href="{% url 'token_verify' %}" class="menu-link" target="_blank"><div data-i18n="JWT Verify">JWT Verify</div></a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="{% url 'grapheql' %}" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bxl-graphql"></i>
        <div data-i18n="Graphql">Graphql</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="https://gitlab.com/tle06/service-catalog" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bxl-gitlab"></i>
        <div data-i18n="Repository">Repository</div>
      </a>
    </li>
    <!-- Misc -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Misc</span>
    </li>
    <li class="menu-item">
      {% get_public_configurations 'support_url' as sup_url %}
      {% setvar 'https://gitlab.com/tle06/service-catalog/-/issues' as support_url %}
      {% if sup_url.value %}
      {% setvar sup_url.value as support_url %}
      {% endif %}
      <a href="{{ support_url }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div data-i18n="Support">Support</div>
      </a>
    </li>
    <li class="menu-item">

      {% get_public_configurations 'documentation_url' as doc_url %}
      {% setvar 'https://service-catalog.readthedocs.io/en/latest/' as documentation_url %}
      {% if doc_url.value %}
      {% setvar doc_url.value as documentation_url %}
      {% endif %}
      <a href="{{ documentation_url }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Documentation">Documentation</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-radio-circle"></i>
        <div data-i18n="Version">Version: {{ app_version }}</div>
      </a>
    </li>
  </ul>
</aside>
<!-- / Menu -->
