{% load static %} {% load service_custom_tags %}
{% get_public_configurations 'disable_edit_profile' as disable_edit_profile %}

<form class="needs-validation" id="form_user_avatar" novalidate enctype="multipart/form-data" method="POST" action="{% url 'account_update_avatar' %}">
  {% csrf_token %}
  <div class="button-wrapper">
    <label for="avatar" class="btn btn-primary me-2 mb-4 {% if disable_edit_profile %}{% endif %}" tabindex="0">
      <span class="d-none d-sm-block">Upload new photo</span>
      <i class="bx bx-upload d-block d-sm-none"></i>
      <input type="file" id="avatar" class="account-file-input" hidden="" accept="image/png, image/jpeg" name="avatar" />
      <input type="submit" hidden="" />
    </label>
    <p class="text-muted mb-0">Allowed JPG, PNG 200x200 px</p>
  </div>
</form>
